#app-header {
  background-color: rgba(25, 25, 25);

  .demo-logo-icon {
    font-size: 1.1em;
    height: fit-content;
    margin-right: 5px;
    transform: translateY(6px);
    width: fit-content;
  }

  .powered-by {
    transform: translateY(-4px);

    b {
      color: rgb(63, 81, 181);
      font-size: 0.8em;
      margin-left: 2px;
    }

    .logo {
      height: 15px;
      object-fit: cover;
      object-position: top;
      width: 65px;
    }
  }

  * {
    color: whitesmoke;
  }

  .demo-title {
    font-weight: 900;
  }

  .search-form-container {
    max-width: 500px;

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }
  }

  ::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-invalid):not(.mat-focused) .mat-form-field-flex .mat-form-field-outline {
    border: none !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    opacity: 1;

    .mat-form-field-outline-start {
      border-bottom: 2px solid whitesmoke !important;
      border-left: 2px solid whitesmoke !important;
      border-top: 2px solid whitesmoke !important;
    }

    .mat-form-field-outline-gap {
      border-bottom: 2px solid whitesmoke !important;
      border-top: 2px solid whitesmoke !important;
    }

    .mat-form-field-outline-end {
      border-bottom: 2px solid whitesmoke !important;
      border-right: 2px solid whitesmoke !important;
      border-top: 2px solid whitesmoke !important;
    }
  }
}
