<form [formGroup]='form' [ngStyle]="{'flex-direction': flexDirection}" autocomplete='off'
      class='form'>
  <ng-container *ngFor='let control of schema' [ngSwitch]='control.type'>

    <ng-container *ngSwitchCase="'hidden'">
      <input [formControlName]='control.name' [type]='control.type' />
    </ng-container>

    <ng-container *ngSwitchDefault>
      <mat-form-field [appearance]='appearance' [ngStyle]='{order: control.order}'
                      class='w-100'>
        <mat-label *ngIf='control.label'>{{control.label}}</mat-label>

        <!--textarea-->
        <textarea *ngIf="control.type === 'textarea' else Input"
                  [formControlName]='control.name'
                  [rows]='control.textarea_rows' [type]='control.type'
                  matInput>
                </textarea>

        <ng-template #Input>
          <input [formControlName]='control.name' [type]='control.type' matInput />
        </ng-template>

        <!--icon-->
        <mat-icon *ngIf="control.icon && ( !control.icon_placement || control.icon_placement === 'after' )" matSuffix>
          {{control.icon}}</mat-icon>
        <mat-icon *ngIf="control.icon && control.icon_placement === 'before'" matPrefix>{{control.icon}}</mat-icon>

        <mat-hint *ngIf='control.hint'>{{control.hint}}</mat-hint>

        <mat-error *ngIf='form.get(control.name).invalid'>{{getErrorMessage(control.name | titlecase)}}</mat-error>
      </mat-form-field>
    </ng-container>
  </ng-container>

</form>
