:host {
  section {
    height: 80vh;
  }

  .magic-icon-animation {
    align-items: center;

    display: flex;

    justify-content: center;
    padding: 25px;
    mat-icon {
      animation: blink-animation 1s steps(5, start) infinite;
      font-size: 4em;
      height: fit-content;
      width: fit-content;
    }
    mat-icon:not(:first-of-type) {
      animation-delay: 0.1s;
    }
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }


}
