<section class='d-flex mt-4 mb-4'>
  <mat-card class='p-0'>
    <mat-toolbar color='primary'>
      <span>
        Hello {{outsetaProfile?.FullName | titlecase}}!
      </span>
    </mat-toolbar>
    <div class='p-3' style='width: 400px'>
      <b>You logged in using Outseta!</b>
      <p class='pt-2'>
        This is a basic authenticated todo list to illustrate using Outseta as an authentication solution for
        your application.
      </p>

      <p>
        We store your accountUid, planUid, and isPrimary in the auth extras so you can access them in any of your
        authenticated
        endpoints in Xano. See the /outseta/auth_demo endpoint for an example.
      </p>
      <ng-container *ngFor='let x of extras | keyvalue'>
        <div>
          <b>{{x.key}}</b>: {{x.value}}
        </div>
      </ng-container>

      <p class='pt-2'>
        Use the + button to add new todo tasks. Double click the text to modify a task. Check off your tasks, mark them
        as important, or delete old and unwanted tasks.
      </p>
    </div>
  </mat-card>

  <mat-card class='ml-4 flex-fill p-0'>
    <mat-toolbar color='primary'>
      <span>Todo List</span>
      <button (click)='save()' class='ml-auto' color='primary' mat-raised-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>

    <div class='d-flex flex-column'>
      <mat-card
        *ngFor='let item of todos' class='pt-4 d-flex align-items-center'
        style='border-radius: 0; border-left: 0; border-right:0'
      >
        <div class='pt-1 mr-4'>
          <mat-checkbox (click)='item.completed = !item.completed; save(item)'
                        [checked]='item.completed'
                        color='primary'></mat-checkbox>
        </div>

        <div
          #content
          (dblclick)='editId = item.id'
          [contentEditable]='editId === item.id'
          [innerText]='item.task'
          class='flex-fill'>
        </div>
        <div *ngIf='item?.id && editId === item.id' class='mr-2'>
          <button (click)='item.task = content.innerText; save(item); editId = null' mat-raised-button>Save</button>
        </div>
        <div class='pt-1 ml-auto'>
          <mat-icon (click)='item.important = !item.important; save(item)'
                    [color]="item.important ? 'accent' : null"
                    class='cursor-pointer mr-4'>priority_high
          </mat-icon>
          <mat-icon (click)='save(item, true)' class='cursor-pointer' color='warn'>delete</mat-icon>
        </div>
      </mat-card>
    </div>
  </mat-card>
</section>
