#image-upload {
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

#uploaded-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  margin-top: -38px;
  width: fit-content;

  img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
  }

  button {
    margin-left: auto;
    transform: translate(-25px, 50px);
  }
}
