<section *ngIf='!image' id='image-upload'>

  <ng-container *ngIf='!uploading else Uploading'>
    <button (click)='fileUpload.click()' color='primary' mat-fab>
      <mat-icon>upload</mat-icon>
    </button>
    <button (click)='fileUpload.click()' class='mt-2' mat-stroked-button>Upload</button>

    <input #fileUpload (change)='upload($event)' accept='image/*' hidden type='file'>
  </ng-container>

  <ng-template #Uploading>
    <mat-spinner></mat-spinner>
  </ng-template>

</section>

<section *ngIf='image' id='uploaded-image'>
  <button (click)='deleteImage()' color='warn' mat-mini-fab>
    <mat-icon>delete</mat-icon>
  </button>
  <img [src]='image?.url ?  image.url : image' />
</section>
