<section id='home'>
  <div class='d-flex justify-content-center align-items-center h-100'>
    <mat-card class='p-4' style='width: 400px'>
      <mat-card-title class='ml-0 pl-0 text-center'>Outseta</mat-card-title>
      <mat-divider></mat-divider>
      <app-outseta-login></app-outseta-login>
    </mat-card>
  </div>
</section>
